.burger__ingredients{
    width: calc(50% - 20px);
}

.ingredients__container{
    max-height: 70vh;
    overflow-y: auto;
}

.cards{
    display: grid;
    width: 100%;
    margin-top: 24px;
    gap:24px 32px;
    grid-template-columns:repeat(auto-fit, minmax(270px,1fr));
    min-height: 208px;
}