.card{
    width: 272px;
    height: 208px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__img{
    max-width: 240px;
    height: 120px;
}

.card__amount{
    display: flex;
    align-items: center;
}