.modal {
  width: 720px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 1);
  border-radius: 10px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__header {
  width: 640px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
