.popup {
  align-items: center;
  justify-content: center;
  background-color: rgba(28, 28, 33, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}

.popup_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  z-index: 2;
}
