.popup {
  align-items: center;
  justify-content: center;
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  display: flex;
  visibility: hidden;
  cursor: pointer;
  opacity: 0.6;
}

.popup_opened {
  display: flex;
  visibility: visible;
  z-index: 2;
}
